name: freshrss

volumes:
  freshrss-data:
  freshrss-extensions:
  freshrss-db-data:
  tailscale-state:

configs:
  ts-config:
    file: ./ts-config.json

services:
  freshrss:
    image: freshrss/freshrss:1.27.1-alpine
    restart: unless-stopped
    depends_on:
      tailscale:
        condition: service_started
      freshrss-db:
        condition: service_healthy
    network_mode: service:tailscale
    environment:
      TZ: Europe/Budapest
      # Cron job to refresh feeds at specified minutes
      CRON_MIN: "*/20"
    volumes:
      - freshrss-data:/var/www/FreshRSS/data
      - freshrss-extensions:/var/www/FreshRSS/extensions

  freshrss-db:
    image: postgres:17.7
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    depends_on:
      - tailscale
    network_mode: service:tailscale
    environment:
      TZ: Europe/Budapest
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    security_opt:
      - no-new-privileges:true
    volumes:
      - freshrss-db-data:/var/lib/postgresql/data

  tailscale:
    image: tailscale/tailscale:stable
    hostname: freshrss
    healthcheck:
      test: ["CMD-SHELL", "tailscale", "-c", "1", "hello.ts.net"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 7s
    cap_add:
      - net_admin
    environment:
      # generate an OAuth client token
      # - select Devices: Write
      # - select an appropriate tag, for example: container
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_EXTRA_ARGS: --advertise-tags=tag:container --reset
      TS_STATE_DIR: /var/lib/tailscale
      TS_SERVE_CONFIG: /config/ts-config.json
      TS_USERSPACE: false
    devices:
       - /dev/net/tun:/dev/net/tun
    volumes:
      - tailscale-state:/var/lib/tailscale
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    configs:
      - source: ts-config
        target: /config/ts-config.json
    restart: unless-stopped
